@import "~antd/dist/antd.css";

.AppUmami {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  justify-content: flex-start;
  background-color: #ffffff;
  width: 100vw;
}

.App-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  justify-content: flex-start;
  background-color: #000000;
  padding-left: 10%;
  padding-right: 10%;
  width: 100vw;
}

.header {
  display: flex;
  height: 5vh;
  padding-left: 5%;
  padding-right: 5%;
  width: 100vw;
}

.header-button {
  width: 100px;
  height: 100%;
  margin-left: 5%;
  border-color: transparent;
  box-shadow: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 16px;
}

.header-button:hover {
  color: gray;
}

.slideUmami {
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.semi-slide {
    justify-content: center;
  }

.intro-content {
  justify-content: center;
  height: 85vh;
}

.arrow {
  height: 15vh;
  width: 100vw;
}

.title {
  letter-spacing: -0.03em;
}
