@import "~antd/dist/antd.css";

.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  justify-content: flex-start;
  background-color: #000000;
  width: 100vw;
}

.App-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  justify-content: flex-start;
  background-color: #000000;
  padding-left: 10%;
  padding-right: 10%;
  width: 100vw;
}

.header {
  display: flex;
  height: 5vh;
  padding-left: 5%;
  padding-right: 5%;
  width: 100vw;
}

.header-button {
  width: 100px;
  height: 100%;
  margin-left: 5%;
  border-color: transparent;
  box-shadow: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.header-button:hover {
  color: gray;
}

.slide {
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}

.semi-slide {
  justify-content: center;
}

.intro-content {
  justify-content: center;
  height: 85vh;
}

.arrow {
  height: 15vh;
  width: 100vw;
}

.title {
  letter-spacing: -0.03em;
}

.rotated {
  transform: rotate(-90deg);
}

.work-card {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.work-card:hover {
  opacity: 1;
  cursor: pointer;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.fade {
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
